@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.steam-container {
  background-image: linear-gradient(180deg, #2A475E 0%, #1B2838 80%);
  min-height: 100vh;
  width: 100%;
}

.store-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 30px 0;
}