.special-offers-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.special-offers-header .broswe-more {
  border-radius: 2px;
  padding: 1px;
  cursor: pointer;
  color: #fff;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.4);
  text-transform: uppercase;
  padding: 2px 14px;
}

.special-offers-header .broswe-more:hover {
  border: 1px solid #fff
}

.special-offers-box {
  position: relative;
}

.special-offers-box > .arrow-left {
  color: #c6d4df;
  box-sizing: content-box;
  position: absolute;
  cursor: pointer;
  z-index: 13;
  top: 140px;
  left: -46px;
  background: linear-gradient(
    to right, 
    rgba( 0, 0, 0, 0.3) 5%,
    rgba( 0, 0, 0, 0) 95%
  );
  width: 23px;
  height: 36px;
  padding: 36px 11px;
}

.special-offers-box > .arrow-left > div {
  width: 23px;
  height: 36px;
  background-position-x: 23px;
  background-image: url(https://store.cloudflare.steamstatic.com/public/images/v6/arrows.png);
}
.special-offers-box > .arrow-left:hover {
  background: linear-gradient( to right, rgba( 171, 218, 244, 0.3) 5%,rgba( 171, 218, 244, 0) 95%);
}

.special-offers-box > .arrow-right {
  color: #c6d4df;
  box-sizing: content-box;
  position: absolute;
  top: 140px;
  right: -46px;
  z-index: 13;
  cursor: pointer;
  background: linear-gradient( to right, rgba( 0, 0, 0, 0) 5%,rgba( 0, 0, 0, 0.3) 95%);
  width: 23px;
  height: 36px;
  padding: 36px 11px;
}

.special-offers-box > .arrow-right > div {
  width: 23px;
  height: 36px;
  background-position-x: 0;
  background-image: url(https://store.cloudflare.steamstatic.com/public/images/v6/arrows.png);

}

.special-offers-box > .arrow-right:hover {
  background: linear-gradient( to right, rgba( 171, 218, 244, 0) 5%,rgba( 171, 218, 244, 0.3) 95%);
}

.special-offers-columns-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 390px;
  width: 940px;
  position: relative;
}

.special-offers-columns-container .column {
  height: 390px;
  width: 306px;
}

.large-special-offer,
.special-offer
{
  position: relative;
  background-image: url(https://store.cloudflare.steamstatic.com/public/images/v6/home/background_spotlight.jpg);
  box-shadow: 0 0 5px #000000;
  cursor: pointer;
}

.large-special-offer {
  height: 390px;
}

.special-offer {
  height: 186px;
  margin-bottom: 15px;
}

.large-special-offer > .informations {
  background-image: url(https://store.cloudflare.steamstatic.com/public/images/v6/home/background_spotlight.jpg);
  padding: 8px 16px 12px 16px;
  color: #9099a1;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  width: 274px;
  box-sizing: content-box;
  z-index: 1;
}

.large-special-offer > .informations > h3 {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 10px;
  letter-spacing: 0.03em;
  font-weight: normal;
}

.large-special-offer > .informations > span {
  font-weight: 300;
  color: #acdbf5;
}

.discount-block {
  position: relative;
  font-weight: 300;
  color: #acdbf5;
  margin-top: 10px;
}

.discount-block .discount-percentage {
  line-height: 34px;
  padding: 0 5px;
  font-size: 26px;
  color: #a4d007;
  background: #4c6b22;
  display: inline-block;
}

.discount-block > .discount-prices {
  line-height: 13px;
  padding: 4px 10px 4px 7px;
  background-color: rgba(0,0,0,0.6);
  display: inline-block;
  vertical-align: bottom;
  text-align: right;
}

.discount-block > .discount-prices > .original-price {
  color: #7193a6;
  text-decoration: line-through;
  font-size: 11px;
}

.discount-block > .discount-prices > .final-price {
  color: #7193a6;
  font-size: 13px;
}

.special-offer .informations {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.special-offer > .informations > .discount-block {
  text-align: right;
  padding: 5px;
  line-height: 17px;
  min-height: 17px;
  font-size: 12px;
}

.carousel-thumbs-special-offers {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2px;
  height: 37px;
  width: 100%;
}

.carousel-thumbs-special-offers > div {
  display: inline-block;
  margin: 12px 2px;
  width: 15px;
  height: 9px;
  border-radius: 2px;
  transition: background-color 0.2s;
  background-color: hsla(202,60%,100%,0.2);
  cursor: pointer;
}

.carousel-thumbs-special-offers > div:hover {
  background-color: hsla(202,60%,100%,0.3);
}

.carousel-thumbs-special-offers .focus {
  background-color: hsla(202,60%,100%,0.4);
}

/* Info Card */
.special-offers-box .info-card {
  position: absolute;
  z-index: 20;
  top: 10px;
  left: -320px;
  padding: 16px;
  box-shadow: 0 0 12px #000000;
  width: 306px;
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(227,234,239,1) 0%,rgba(199,213,224,1) 100%);
  transition: .3s;
  opacity: 0;
}

.special-offers-box .info-card .game-name {
  color: #222d3d;
  font-size: 15px;
  line-height: 17px;
  font-weight: normal;
  margin-bottom: 4px;
}

.special-offers-box .info-card .released-date {
  font-size: 10px;
  color: #30455a;
}

.special-offers-box .info-card .screenshot-container {
  width: 274px;
  height: 153px;
  margin: 5px 0;
}

.special-offers-box .info-card .reviews-container {
  border-radius: 2px;
  padding: 4px;
  color: #c6d4df;
  background-color: rgba( 38, 54, 69, 0.6);
  font-size: 12px;
  margin-bottom: 6px;
}

.special-offers-box .info-card .reviews-container span {
  color: #66C0F4;
}

.special-offers-box .info-card .tags-container {
  color: #30455a;
  font-size: 12px;
  margin-bottom: 6px;
}

.special-offers-box .info-card .tags-container .tags {
  height: 19px;
  display: flex;
  gap: 2px;
}

.special-offers-box .info-card .tags-container .tags .tag {
  background-color: #96a3ae;
  color: rgba(227,234,239,1);
  box-shadow: none;
  padding: 0 4px;
  font-size: 11px;
  border-radius: 2px;
}

.special-offers-box .info-card > .arrow-right {
  width: 7px;
  height: 15px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAPCAYAAADUFP50AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJlJREFUeNqc0k0KgCAQBlCdI0SLlkEtu4DLTt6yC7SN2hX0cwWbCQvDMa0PBhN9EsxIrbXgMs57RWueJR13Di+ooboeCEILpaZYDC/oCoshgLwYIhCL5TBtMcjOilUT1OJH6FdLrOWDobslYIN7/FCRmO4oMmCmIwbf6NGOAH4gZwA82EFnO7ghx14VuLRm6yAvtLDgEOUQYADt6VgCZRDsZgAAAABJRU5ErkJggg==) no-repeat top;
  position: absolute;
  background-position: right;
  top: 8px;
  right: -7px;
}