.store-main-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main-banner-box {
  position: relative;
  margin-top: 10px;
}

.main-banner-box .arrow-left {
  color: #c6d4df;
  box-sizing: content-box;
  position: absolute;
  cursor: pointer;
  z-index: 13;
  top: 100px;
  left: -46px;
  background: linear-gradient(
    to right, 
    rgba( 0, 0, 0, 0.3) 5%,
    rgba( 0, 0, 0, 0) 95%
  );
  width: 23px;
  height: 36px;
  padding: 36px 11px;
}

.main-banner-box .arrow-left > div {
  width: 23px;
  height: 36px;
  background-position-x: 23px;
  background-image: url(https://store.cloudflare.steamstatic.com/public/images/v6/arrows.png);
}
.main-banner-box .arrow-left:hover {
  background: linear-gradient( to right, rgba( 171, 218, 244, 0.3) 5%,rgba( 171, 218, 244, 0) 95%);
}

.main-banner-box .arrow-right {
  color: #c6d4df;
  box-sizing: content-box;
  position: absolute;
  top: 100px;
  right: -46px;
  z-index: 13;
  cursor: pointer;
  background: linear-gradient( to right, rgba( 0, 0, 0, 0) 5%,rgba( 0, 0, 0, 0.3) 95%);
  width: 23px;
  height: 36px;
  padding: 36px 11px;
}

.main-banner-box .arrow-right > div {
  width: 23px;
  height: 36px;
  background-position-x: 0;
  background-image: url(https://store.cloudflare.steamstatic.com/public/images/v6/arrows.png);

}

.main-banner-box .arrow-right:hover {
  background: linear-gradient( to right, rgba( 171, 218, 244, 0) 5%,rgba( 171, 218, 244, 0.3) 95%);
}

.section-title {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  font-weight: normal;
  letter-spacing: 0.03em;
}

.main-banner-image-container {
  position: relative;
  z-index: 9;
  width: 616px;
  height: 353px;
  box-shadow: 0 0 10px 5px #000;
}

.main-banner-info {
  position: absolute;
  top: 1px;
  right: 10px;
  background-image: url(https://store.cloudflare.steamstatic.com/public/images/v6/home/background_maincap_2.jpg);
  background-repeat: no-repeat;
  background-position: right;
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 314px;
  height: 353px;
  border: 1px solid rgb(32, 32, 32);
  box-shadow: 0 0 7px 0px #000;
}

.main-banner-info .game-name {
  font-size: 24px;
  font-weight: normal;
  margin: 20px 0 180px 20px;
}

.main-banner-info .screenshots {
  position: absolute;
  top: 70px;
  right: 15px;
  display: grid;
  grid-template-columns: 162px 162px;
  grid-template-rows: 69px 69px;
  gap: 10px;
}

.main-banner-info .reason {
  margin-left: 20px;
}

.main-banner-info .reason .main {
  font-size: 21px;
  font-weight: 200;
}

.main-banner-info .reason .additional {
  display: inline-block;
  padding: 2px 8px;
  background-color: rgba( 255, 255, 255, 0.2 );
  border-radius: 2px;
  cursor: pointer;
  font-size: 11px;
}

.carousel-thumbs {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2px;
  height: 37px;
  width: 100%;
}

.carousel-thumbs > div {
  display: inline-block;
  margin: 12px 2px;
  width: 15px;
  height: 9px;
  border-radius: 2px;
  transition: background-color 0.2s;
  background-color: hsla(202,60%,100%,0.2);
  cursor: pointer;
}

.carousel-thumbs > div:hover {
  background-color: hsla(202,60%,100%,0.3);
}

.carousel-thumbs .focus {
  background-color: hsla(202,60%,100%,0.4);
}